body {
    background-color: #F2E9E4;
}

header{
    text-align: center;
    /*font-style: oblique;*/
    color: #22223B;
}

.cols{
    border-radius: 8px;
    min-height:90vh;
    border-style:groove;
    border-color: #22223B;
    padding: 10px;
    margin:10px;
    width: 45%;
}

label{
    /*font-style: italic;*/
    font-weight: bold;
}

.button {
    display: inline-block;
    background-color: #4A4E69;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    min-width: 120px;
    border: 1px solid black;
    margin:5px;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 3px 10px;
    min-width: 100px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: block;
    width: 100%;
    background-color: rgba(167, 166, 255, 0.05);
    cursor: pointer;
    border-radius: 8px;
}

.block:hover {
    background-color: #8a0ddd8e;
}

table, td, th{
    border: 2px solid #22223B;
}

table {
    width: 100%;
    table-layout: fixed;
}

th{
    background-color: #4A4E69;
    color: white;
    text-align: center;
}
